body {
    background-color: #D5DDE9;
    font-family: 'Nunito Sans', sans-serif;

}
.parent-container {
    width: 45vw;
    /* height: 89vh;  */
    border: 20px solid #000;
    background: #112557;
    display: flex;
    margin: 3em auto 0 auto;
}

.nav {
    width: 17.08333rem;
    /* height: 81.91667rem; */
    background: #FFFFFF;
    background-blend-mode: hard-light;
    /* border: 1px solid salmon; */
}

.image-nav {
    /* width: 17.08333rem; */
    height: 100%;
    width: 100%;
    /* background: url("./pics/graph2copyWhite.png"), lightgray 0% 0% / 15px 15px repeat; */
    background: url("./pics/graph2copyWhite.png");
    background-size: 220%; 
    /* background-blend-mode: darken; */
    /* z-index: 2; */
    /* border: 1px solid red; */
}

.transparent-nav {
    /* width: 17.08333rem; */
    height: 100%;
    width: 100%;
    background: rgba(247, 248, 251, 0.70);
    /* z-index: 3; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;

}

.main-nav-line {
    background-color: #112557;
    height: 1px;
    border: none;
    width: 80%;
}

.jones-span {
    color: rgba(98, 110, 141, 0.70);
    font-family: 'Nunito Sans';
    text-align: center;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.29167rem;
}

.partners-span {
    color: #112557;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.26rem;
}

.about-span {
    font-size: 11px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    color:#112557;
}

#welcome-btn {
    text-align: center; 
    margin-top: 2em;
    border: 1px solid hotpink;
}

#about-btn {
    margin-top: 2em;
}

#contact-btn {
    margin-top: 2em;
}

.text-section {
    color: #D5DDE9;
}

.line {
    color: #F7F8FB;
}

.welcome-section {
    display: block;
}

.about-section {
    display: none;
}

.testimonials-section {
    display: none;
}

.search-engagements-section {
    display: none;
}

.year-end-letter-section {
    display: none;
}

.contact-information-section {
    display: none;
}

.abt-quality-section {
    display: none;
}

.abt-ethics-section {
    display: none;
}

.abt-backgrounds-section {
    display: none;
}