body {
    background-color: #D5DDE9;
    font-family: 'Nunito Sans', sans-serif;

}
.parent-container {
    width: 760px;
    /* height: 89vh;  */
    border: 15px solid #000;
    background: #112557;
    display: flex;
    margin: 3em auto 0 auto;
}

.nav {
    width: 200px;
    /* height: 81.91667rem; */
    background: #FFFFFF;
    background-blend-mode: hard-light;
    /* border: 1px solid salmon; */
    /* border-left: 9px solid grey;
    border-right: 9px solid grey; */
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: row; 
    /* padding-left: 10px;
    padding-right: 10px; */
   
}

.image-nav {
    /* width: 17.08333rem; */
    height: 100%;
    width: 100%;
    /* background: url("./pics/graph2copyWhite.png"), lightgray 0% 0% / 15px 15px repeat; */
    background: url("./pics/graph2copyWhite.png");
    background-size: 220%; 
    padding-bottom: 1.5em;
    /* background-blend-mode: darken; */
    /* z-index: 2; */
    /* border: 1px solid red; */
   
}

.gradient-left {
    width: 10px;
    height: 100%;
    background: rgb(255,255,255);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(104,115,146,1) 100%);
    padding-bottom: 1.5em;
}

.gradient-right {
    width: 10px;
    height: 100%;
    background: rgb(104,115,146);
    background: linear-gradient(90deg, rgba(104,115,146,1) 0%, rgba(255,255,255,1) 100%);
    padding-bottom: 1.5em;
}

.transparent-nav {
    /* width: 17.08333rem; */
    height: 100%;
    width: 100%;
    background: rgba(247, 248, 251, 0.70);
    /* z-index: 3; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1.5em;
}

.main-nav-line {
    background-color: #112557;
    height: 1px;
    border: none;
    width: 55%;
    position: relative;
    top: -0.1%;
    margin: 5px auto;
}

.main-nav-line-welcome {
    background-color: #112557;
    height: 1px;
    border: none;
    width: 97%;
    position: relative;
    top: -10%;
}

.jones-span {
    color: rgba(98, 110, 141, 0.70);
    font-family: 'Nunito Sans';
    text-align: center;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.2rem;
}

.partners-span {
    color: #112557;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.26rem;
    /* border-bottom: 1px solid red; */
}

.primarysearch-span {
    font-size: 11px;
}

#about-span {
    font-size: 11px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    color:#112557;
    height: fit-content;
}


#about-btn:hover, #testimonials-btn:hover, #search-engagements-btn:hover, #year-end-letter-btn:hover {
    background-color: rgba(13, 19, 37, 0.124);
}

#welcome-btn {
    text-align: center; 
    margin-top: 2em;
    line-height: 1.5rem;
    margin-top: 2em;
}

#about-btn {
    margin-top: 2em;
    /* margin-bottom: 0; */
}

#contact-btn {
    margin-top: 4em;
    line-height: .8rem;
    font-weight: 700;
}

.text-section {
    color: #D5DDE9;
    color: #C0C5D2;
    font-size: 15px;
    padding: 20px;
}

.text-content, ul {
    line-height: 1.1rem;
}

.line {
    color: #F7F8FB;
}

#welcome-section {
    display: block;
    /* border: 3px solid red; */
}
.section-title {
    /* border: 2px solid pink; */
    margin: 0;
    text-transform: uppercase;
    font-weight:300;
    letter-spacing: 0.20rem;
    font-size: 30px;
    height: 37px;
    border-bottom: 1px solid #F7F8FB;
}

.title-gray {
    color:#828ca6a1;
}

.bold-txt {
    font-weight: 800;
}

.about-section {
    display: none;
}

.testimonials-section {
    display: none;
}

.search-engagements-section {
    display: none;
}

.year-end-letter-section {
    display: none;
}

.contact-information-section {
    display: none;
}

.abt-quality-section {
    display: none;
}

.abt-ethics-section {
    display: none;
}

.abt-backgrounds-section {
    display: none;
}

.about-nav {
    border: 1px solid hotpink;
    
}

#abt-quality-btn, #abt-ethics-btn, #abt-backgrounds-btn {
    color: #D5DDE9;
}